# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
# Your code here
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
    
df = pd.read_csv(url)

In [2]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ","_")

In [3]:
# df.columns['st'].str.replace("st","state")

df.rename(columns={'st':'state'}, inplace = True)

In [4]:
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [5]:
# Your code here
df['gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [6]:
df['gender'].str.replace("Femal", "F").str.replace("female", 'F').str.replace("Male", "M").unique()

array([nan, 'F', 'M'], dtype=object)

In [7]:
df['gender'] = df['gender'].map({'Femal' : 'F', 'female':'F',  'Male' : 'M', 'M':'M', 'F':'F'})

df['gender'].unique()

array([nan, 'F', 'M'], dtype=object)

In [8]:
df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [9]:
# State abbreviations be can replaced with its full name, for example 
# "AZ": "Arizona", "Cali": "California", "WA": "Washington"

df['state'] = df['state'].apply(lambda x : "California" if x == 'Cali' else "Washington" if x == "WA" else "Arizona" if x == "AZ" else x)

# df['state'].str.replace('AZ', 'Arizona').str.replace('Cali', 'California').str.replace('WA','Washington')

In [10]:
# In education, "Bachelors" could be replaced by "Bachelor"

df['education'] = df['education'].str.replace('Bachelors','Bachelor')

In [11]:
# In Customer Lifetime Value, delete the % character

df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%','')

In [12]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

df.columns

df['vehicle_class'] = df['vehicle_class'].apply(lambda x : 'Luxury' if x in ['Luxury SUV', 'Luxury Car','Sports Car'] else x)

df['vehicle_class'].unique()

# def fix_car_class(x):
#     if x in ['Luxury SUV', 'Luxury Car','Sports Car']:
#         return'Luxury'
#     else:
#         return x

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [13]:
# Your code here
df.dtypes

# customer_lifetime_value -> float - can have NaN values
# number_of_open_complaints -> int - cannot handle NaN values

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [14]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].apply(float) / 100

In [15]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x : x.split('/')[1] if isinstance(x, str) else x)

In [16]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(float)

df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [17]:
df.tail()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Your code here
df.isna().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [19]:
# rows with None values in each column will be removed from a data frame

df = df.dropna(how='all')

In [20]:
df.isna().sum()

customer                       0
state                          0
gender                       117
education                      0
customer_lifetime_value        3
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64

In [21]:
# For column 'gender' replace NaN values by "na", meaning that the value is unknown

df['gender'] = df['gender'].fillna("na")
df['gender'].value_counts()

gender
F     502
M     452
na    117
Name: count, dtype: int64

In [22]:
#df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean())

# for 'customer_lifetime_value' drop rows for which value is NaN - filling missing values with mean, mode or by using neighboring rows would not have much sens 

display(df[df['customer_lifetime_value'].isna()])

df = df.dropna(subset='customer_lifetime_value')

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,na,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
78,SP81997,Washington,F,Master,NaN,41275.0,96.0,0.0,Personal Auto,Four-Door Car,41.122303
988,GT62080,Washington,M,High School or Below,NaN,55561.0,63.0,0.0,Personal Auto,Four-Door Car,227.872071

In [27]:
df.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [100]:
# Your code here
# First, just in case, unify values across the columns, such that all string are lower case with spaces removed and float numbers are rounded to 2 decimal places

# df = df.applymap(lambda x: x.strip().lower() if isinstance(x, str) else x)

# df = df.applymap(lambda x: round(x,2) if isinstance(x, float) else x)

print("Whole rows:", df.duplicated().sum())


print("1:", df.duplicated(subset=['customer']).sum())
print("2:", df.duplicated(subset=['customer_lifetime_value']).sum())
print("3:", df.duplicated(subset=['income']).sum())
print("4:", df.duplicated(subset=['monthly_premium_auto']).sum())
print("5:", df.duplicated(subset=['total_claim_amount']).sum())

print("6: all-customer:", df.duplicated(subset=['state','gender', 'education', 'customer_lifetime_value','income','monthly_premium_auto','number_of_open_complaints','policy_type','vehicle_class','total_claim_amount']).sum())

# print("7: 6-education:", df.duplicated(subset=['state','gender', 'customer_lifetime_value','income','monthly_premium_auto','number_of_open_complaints','policy_type','vehicle_class','total_claim_amount']).sum())

# print("8: 7-state:", df.duplicated(subset=['gender', 'customer_lifetime_value','income','monthly_premium_auto','number_of_open_complaints','policy_type','vehicle_class','total_claim_amount']).sum())

# print("9: 8-gender:", df.duplicated(subset=['customer_lifetime_value','income','monthly_premium_auto','number_of_open_complaints','policy_type','vehicle_class','total_claim_amount']).sum())

# if we remove 'customer' column from comparison then for all other columns there are 4 duplicates that are found

condition = df.duplicated(subset=['state','gender', 'education', 'customer_lifetime_value','income','monthly_premium_auto','number_of_open_complaints','policy_type','vehicle_class','total_claim_amount'],keep=False)

df[condition].sort_values('income')

# printing of duplicated rows shows that except the customer nr all other informations are the same for pairs of duplicated rows 
# thus the duplicated values will be removed from the df
# duplicates must be due to a human error and maybe entering the same customer twice but with different customer id

Whole rows: 0
1: 0
2: 41
3: 296
4: 937
5: 318
6: all-customer: 4

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
633,uy18770,california,f,bachelor,10179.72,14290.0,271.0,0.0,personal auto,luxury,1300.8
755,qw47320,california,f,bachelor,10179.72,14290.0,271.0,0.0,personal auto,luxury,1300.8
588,tn79487,california,m,bachelor,4458.11,17622.0,65.0,1.0,personal auto,four-door car,312.0
1031,em27919,california,m,bachelor,4458.11,17622.0,65.0,1.0,personal auto,four-door car,312.0
552,gn46207,oregon,f,master,4170.69,29462.0,107.0,1.0,personal auto,suv,513.6
996,pv55726,oregon,f,master,4170.69,29462.0,107.0,1.0,personal auto,suv,513.6
694,re46783,california,f,bachelor,4118.59,69379.0,103.0,0.0,personal auto,two-door car,494.4
771,pa16884,california,f,bachelor,4118.59,69379.0,103.0,0.0,personal auto,two-door car,494.4

In [104]:
df_no_duplicates = df.drop_duplicates(subset=['state','gender', 'education', 'customer_lifetime_value','income','monthly_premium_auto','number_of_open_complaints','policy_type','vehicle_class','total_claim_amount'])

In [113]:
df_no_duplicates.shape

(1064, 11)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [25]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [106]:
# Your code here
df_no_duplicates.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [110]:
df_no_duplicates[['customer_lifetime_value','total_claim_amount']].describe()

       customer_lifetime_value  total_claim_amount
count              1064.000000         1064.000000
mean               7945.192509          404.932810
std                6443.524823          292.134074
min                2004.350000            0.380000
25%                4023.597500          202.510000
50%                5885.745000          354.965000
75%                8962.872500          532.800000
max               58166.550000         2893.240000

To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.

In [124]:
condition_1 = df_no_duplicates['total_claim_amount'] > df_no_duplicates['total_claim_amount'].quantile(0.75)
condition_2 = df_no_duplicates['customer_lifetime_value'] < df_no_duplicates['customer_lifetime_value'].quantile(0.25)

filtered_customers = df_no_duplicates[(condition_1  & condition_2)]

In [127]:
filtered_customers[['total_claim_amount','customer_lifetime_value']].describe()

       total_claim_amount  customer_lifetime_value
count           39.000000                39.000000
mean           725.826667              3400.188205
std            150.660304               567.937884
min            537.600000              2287.600000
25%            633.160000              2994.380000
50%            691.200000              3652.530000
75%            799.200000              3869.215000
max           1185.990000              4022.960000